@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

:root {
    --main-sise: 1312px
}

.table {
    width: var(--main-sise);
    margin: auto;
}

.table__container {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border: 1px solid;
}
.table__text {
}
.table__header {
    font-family: "Roboto", serif;
    font-size: 20px;
    font-weight: bold;
}
.table__desc {
    font-family: "Roboto", serif;
    font-size: 18px;
}
.btns__container {
    display: flex;
    column-gap: 16px;
}
.btn {
    padding: 8px 20px 8px 20px;
    background-color: inherit;
    border: 1px solid #000;

    font-family: "Roboto", serif;
    font-size: 16px;
}

.btn:hover {
    cursor: pointer;
}

.btn-active {
    background-color: #000;
    color: #fff;
}

.nav {
    display: flex;
    border-right: 1px solid;
    border-left: 1px solid;
}
.nav__elem {
    padding: 0 0 0 24px;
    width: 262px;
    height: 56px;
    display: flex;
    align-items: center;

    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: bold;
}

.accordion {
    width: var(--main-sise);
    margin: auto;
}
.container {
    display: flex;
    flex-wrap: wrap;

    border: 1px solid;
}
.title {
    min-width: 262px;
    height: 80px;

    padding: 0 0 0 24px;

    text-align: start;

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.content__container {
    display: none;

    flex-wrap: wrap;
    background-color: #F4F4F4;
}

.text__container {
    display: flex;
    flex-wrap: wrap;
    width: 786px;
}

.img__container {
    width: 524px;
    padding: 28px 24px 28px 24px;
}

.content {
    display: flex;

    min-width: 262px;
    height: 80px;
    
    padding: 0 0 0 24px;

    display: flex;
    /* justify-content: center; */
    align-items: center;
}  

.active {
    display: flex;
}

img {
    width: 402px;
    height: 226px;
}

.pagination__container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    
    margin-top: 32px;
}
.pagination__elem {
    display: flex;
    align-items: center;
}
.pagination__btn {
    width: 108px;
    height: 40px;

    background-color: inherit;
    border: 1px solid;
}
.pagination__btn:hover {
    cursor: pointer;
}

.page {
    width: 40px;
    height: 40px;
    display: flex;

    align-items: center;
    justify-content: center; 
}

.page:hover {
    cursor: pointer;
}

.page__active {
    border: 1px solid;
    padding: 12px;
}